#all-episodes {
  display: grid;
  grid-template-columns: 19rem 19rem 19rem;
  gap: 1rem;
  justify-content: center;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
  
}
#input-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem auto ;
  padding: 1rem 0 ;
  width: 70%;
}
#inputEl, #select-el{
 border: none;
 outline: none;
 background-color: #E0DFE0;
  padding: 0.5rem;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 0.2rem;
  color: #757575;

}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}
section {
  display: block;
  padding: 1rem;
  background: #e0dfe0;
  border-radius: 0.2rem;
}

h3 {
  text-align: center;
}

img {
  margin: 5px auto;
  display: block;
}